In [1]:
import pandas as pd 
import numpy as np

In [3]:
data= pd.read_csv("titanic.csv")
data

     PassengerId   Age     Fare  Survived
0              1  22.0   7.2500         0
1              2  38.0  71.2833         1
2              3  26.0   7.9250         1
3              4  35.0  53.1000         1
4              5  35.0   8.0500         0
..           ...   ...      ...       ...
709          886  39.0  29.1250         0
710          887  27.0  13.0000         0
711          888  19.0  30.0000         1
712          890  26.0  30.0000         1
713          891  32.0   7.7500         0

[714 rows x 4 columns]

In [4]:
data.head()

   PassengerId   Age     Fare  Survived
0            1  22.0   7.2500         0
1            2  38.0  71.2833         1
2            3  26.0   7.9250         1
3            4  35.0  53.1000         1
4            5  35.0   8.0500         0

In [5]:
data.describe()

       PassengerId         Age        Fare    Survived
count   714.000000  714.000000  714.000000  714.000000
mean    448.582633   29.699118   34.694514    0.406162
std     259.119524   14.526497   52.918930    0.491460
min       1.000000    0.420000    0.000000    0.000000
25%     222.250000   20.125000    8.050000    0.000000
50%     445.000000   28.000000   15.741700    0.000000
75%     677.750000   38.000000   33.375000    1.000000
max     891.000000   80.000000  512.329200    1.000000

In [6]:
data.isnull()

     PassengerId    Age   Fare  Survived
0          False  False  False     False
1          False  False  False     False
2          False  False  False     False
3          False  False  False     False
4          False  False  False     False
..           ...    ...    ...       ...
709        False  False  False     False
710        False  False  False     False
711        False  False  False     False
712        False  False  False     False
713        False  False  False     False

[714 rows x 4 columns]

In [7]:
data.isnull().sum()

PassengerId    0
Age            0
Fare           0
Survived       0
dtype: int64

In [44]:
X=data.iloc[:,1:3]
y=data["Survived"]

In [45]:
X

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
709  39.0  29.1250
710  27.0  13.0000
711  19.0  30.0000
712  26.0  30.0000
713  32.0   7.7500

[714 rows x 2 columns]

In [46]:
y

0      0
1      1
2      1
3      1
4      0
      ..
709    0
710    0
711    1
712    1
713    0
Name: Survived, Length: 714, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=0)

In [55]:
from sklearn.linear_model import LogisticRegression

In [57]:
model_=LogisticRegression()

In [58]:
y_train

56     0
60     1
453    1
262    0
395    1
      ..
707    0
192    0
629    0
559    0
684    1
Name: Survived, Length: 357, dtype: int64

In [59]:
model_.fit(X_train,y_train)

LogisticRegression()

In [61]:
pred=model_.predict(X_test)
pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0], dtype=int64)

In [67]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)
accuracy_score

In [64]:
accuracy

0.6274509803921569

In [66]:
from sklearn.metrics import classification_report
report = classification_report(y_test,pred)
print(report)

              precision    recall  f1-score   support

           0       0.64      0.86      0.73       211
           1       0.59      0.29      0.39       146

    accuracy                           0.63       357
   macro avg       0.61      0.58      0.56       357
weighted avg       0.62      0.63      0.59       357

In [68]:
from sklearn.metrics import confusion_matrix as cm
conf=cm(y_test,pred)
conf

array([[181,  30],
       [103,  43]], dtype=int64)